<div class="container">
	<form name="flight-search">
		<div class="row">
			<div class="panel panel-default">
	  			<div class="panel-heading">Search</div>
	  			
				<div class="panel-body">
					
					<div class="col-md-1 form-group">
						<label for="flightNumber">Nº:</label>
						<input id="flightNumber" class="form-control" type="text" ng-model="vm.searchParams.id">
					</div>

					<div class="col-md-2 form-group">
						<label for="departureDate">Departure Date:</label>
						<input id="departureDate" class="form-control" type="text" ng-model="vm.searchParams.departure.from">
					</div>

					<div class="col-md-2 form-group">
						<label for="location">Origin:</label>
						<select id="location" class="form-control" ng-model="vm.searchParams.location">
						</select>
					</div>

					<div class="col-md-2 form-group">
						<label for="destination">Destination:</label>
						<select id="destination" class="form-control" ng-model="vm.searchParams.destination">
						</select>
					</div>

					<div class="col-md-2 form-group">
						<label for="status">Status:</label>
						<select id="status" class="form-control" ng-model="vm.searchParams.status">
						</select>
					</div>

					<div class="col-md-2 form-group">
						<br>
						<button class="btn btn-primary btn-md" role="button" ng-click="vm.search()">Search</button>
					</div>


					
				</div>

			</div>
		</div>
	</form>

	<div class="row" ng-if="vm.message.error">
		<div class="alert alert-danger">{{vm.message.error}}</div>
	</div>

	<div class="row" ng-if="vm.message.success">
		<div class="alert alert-success">{{vm.message.success}}</div>
	</div>

	<div class="row">
		<div class="panel panel-default">
   		  <div class="panel-heading">{{vm.flights.length}} flights found</div>
		  
		  <table class="table table-flights">

		  	<tbody ng-if="!vm.flights.length">
			  	<tr>
			  		<td>
						Empty
			  		</td>
			  	</tr>
		  	</tbody>

		  	
		  	<tbody ng-if="vm.flights.length">
			  	<tr>
			  		<th class="col-md-1">Nº</th>
			  		<th class="col-md-1">Departure</th>
			  		<th class="col-md-1">Arrival</th>
			  		<th class="col-md-2">Origin</th>
			  		<th class="col-md-2">Destination</th>
			  		<th class="col-md-2">Aircraft</th>
			  		<th class="col-md-2">Status</th>
			  		<th class="col-md-1"></th>
			  	</tr>	    
			  	<tr ng-repeat="flight in vm.flights">
			      <td>{{flight.id}}</td>
			      <td>{{flight.departureDate | date:'medium'}}</td>
			      <td>{{flight.arrivalDate | date:'medium'}}</td>
			      <td>{{flight.origin.code}} - {{flight.origin.location}}</td>
			      <td>{{flight.destination.code}} - {{flight.destination.location}}</td>
			      <td>{{flight.aircraft.model}} / {{flight.aircraft.serialNumber}}</td>
			      <td>{{flight.statusLabel}}</td>
			      <td>
					<button class="btn btn-primary btn-md" role="button" ng-click="vm.viewFlight(flight.id)">Details</button>
			      </td>
			    </tr>
			  </tbody>
		  </table>
		</div>
	</div>

</div>
