<div class="container">
	<form name="flight-search">
		<div class="row">
			<div class="panel panel-default">
	  			<div class="panel-heading">Search</div>
	  			
				<div class="panel-body">
					
					<div class="col-md-2 form-group">
						<label for="flightNumber">Nº:</label>
						<input id="flightNumber" class="form-control" type="text" ng-model="vm.searchParams.id">
					</div>

					<div class="col-md-2 form-group">
						<label for="origin">Origin:</label>
						<airport-select ng-model="vm.searchParams.originId"></airport-select>
					</div>

					<div class="col-md-2 form-group">
						<label for="destination">Destination:</label>
						<airport-select ng-model="vm.searchParams.destinationId"></airport-select>
					</div>

					<div class="col-md-2 form-group">
						<label for="aircraft">Aircraft:</label>
						<aircraft-select ng-model="vm.searchParams.aircraftId"></aircraft-select>
					</div>

					<div class="col-md-2 form-group">
						<label for="pilot">Pilot:</label>
						<pilot-select ng-model="vm.searchParams.pilotId"></pilot-select>
					</div>

					<div class="col-md-2 form-group">
						<label for="status">Status:</label>
						<select id="status" class="form-control" ng-model="vm.searchParams.status">
							<option></option>
							<option ng-repeat="(key, value) in vm.allFlightStatus" value="{{key}}">{{value}}</option>
						</select>
					</div>

					

					<div class="col-md-4 dropdown form-group dropdown-start-parent">
					    <label>Departure From:</label>
					    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent">
					        <div class="input-group date">
					            <input type="text" class="form-control" data-ng-model="vm.searchParams.departure.from">
					            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					        </div>
					    </a>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					        <datetimepicker data-ng-model="vm.searchParams.departure.from"
					                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"></datetimepicker>
					    </ul>
					</div>

					<div class="col-md-4 dropdown form-group dropdown-end-parent">
					    <label>Departure Until</label>
					    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent">
					        <div class="input-group date">
					            <input type="text" class="form-control" data-ng-model="vm.searchParams.departure.until">
					            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					        </div>
					    </a>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					        <datetimepicker data-ng-model="vm.searchParams.departure.until"
					                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"></datetimepicker>
					    </ul>
					</div>


					<div class="col-md-2 form-group">
						<br>
						<button class="btn btn-primary btn-md" role="button" ng-click="vm.search(vm.searchParams)">Search</button>
					</div>


					
				</div>

			</div>
		</div>

	</form>

	<div class="row" ng-if="vm.message.error">
		<div class="alert alert-danger">{{vm.message.error}}</div>
	</div>

	<div class="row" ng-if="vm.message.success">
		<div class="alert alert-success">{{vm.message.success}}</div>
	</div>

	<div class="row">
		<div class="panel panel-default">
   		  <div class="panel-heading">{{vm.flights.length}} flights found</div>
		  
		  <table class="table table-flights">

		  	<tbody ng-if="!vm.flights.length">
			  	<tr>
			  		<td>
						Empty
			  		</td>
			  	</tr>
		  	</tbody>

		  	
		  	<tbody ng-if="vm.flights.length">
			  	<tr>
			  		<th class="col-md-1">Nº</th>
			  		<th class="col-md-1">Departure</th>
			  		<th class="col-md-1">Arrival</th>
			  		<th class="col-md-2">Origin</th>
			  		<th class="col-md-2">Destination</th>
			  		<th class="col-md-2">Aircraft</th>
			  		<th class="col-md-2">Status</th>
			  		<th class="col-md-1"></th>
			  	</tr>	    
			  	<tr ng-repeat="flight in vm.flights">
			      <td>{{flight.id}}</td>
			      <td>{{flight.departureDate | date:'medium'}}</td>
			      <td>{{flight.arrivalDate | date:'medium'}}</td>
			      <td>{{flight.origin.code}} - {{flight.origin.location}}</td>
			      <td>{{flight.destination.code}} - {{flight.destination.location}}</td>
			      <td>{{flight.aircraft.model}} / {{flight.aircraft.serialNumber}}</td>
			      <td>{{flight.statusLabel}}</td>
			      <td>
					<button class="btn btn-primary btn-md" role="button" ng-click="vm.viewFlight(flight.id)">Details</button>
			      </td>
			    </tr>
			  </tbody>
		  </table>
		</div>
	</div>

</div>
